.movie-list {
  padding: 40px 0;
}

.movie-list-grid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  place-items: center;
  row-gap: 40px;
  column-gap: 120px;
  margin-bottom: 1.9rem;
}

.movie-list-btn {
  display: block;
  margin: 0 auto;
  border: 1.5px solid #bdbabacd;
  outline: none;
  background-color: transparent;
  color: #ffffffcd;
  padding: 0.5rem 1.25rem;
  width: 15rem;
  font-size: 1.1rem;
  border-radius: 10px;
  transition: 0.3s ease;
}

.movie-list-btn:hover {
  transform: scale(1.017);
  /*color: #d4cbcbcd;*/
}
