.section-nav {
  background: var(--body_background);
}

.section-nav-container {
  display: flex;
  justify-content: center;
  max-height: 40px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 8px 80px;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: var(--body_background);
}

.nav-logo {
  color: var(--body_color);
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-searchbar {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.35rem 4rem;
  background-color: var(--buttons-background-color);
  font-size: 1rem;
  box-shadow: 0 4px 30px rgba(97, 95, 95, 0.227);
  transition: all 0.9s ease-in-out;
}

.nav-searchbar:hover {
  opacity: 0.75;
}

input,
select,
textarea {
  color: var(--search-bar-text-color);
}
input {
  caret-color: var(--search-bar-text-color);
}

textarea:focus,
input:focus {
  color: var(--search-bar-text-color);
}

.nav .nav-list-desktop {
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

ul li a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
  color: var(--body_color);
  transition: 0.9s ease-in-out;
  font-size: 1.2rem;
  cursor: pointer;
}

ul li ul.genres-dropdown li {
  display: block;
  font-size: 1.08rem;
  padding: 1.5px 0;
  cursor: pointer;
  transition: 0.9s ease-in-out;
}

ul li ul.genres-dropdown li:hover {
  color: var(--nav-links-hover-color);
}

ul li ul.genres-dropdown li.active {
  color: var(--nav-links-hover-color);
}

ul li ul.genres-dropdown {
  width: 100%;
  background-color: var(--genres-dropdown-background-color);
  position: absolute;
  z-index: 999;
  display: none;
  color: var(--body_color);
  opacity: 1;
  padding: 15px 9px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li a:hover {
  color: var(--nav-links-hover-color);
}

ul li:hover ul.genres-dropdown {
  display: block;
  z-index: 88;
}

.genres-dropdown-show {
  display: block;
  z-index: 88;
}

.nav-list-link-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1.3rem;
}

.nav-list-link-login-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttons-background-color);
  padding: 2px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(97, 95, 95, 0.227);
  transition: 0.9s ease-in-out;
}

.nav-list-link-user {
  width: 26px;
  height: 26px;
  margin-right: 0.3rem;
  cursor: pointer;
  transition: 0.9s ease-in-out;
}

.nav-list-link-login-container:hover {
  opacity: 0.7;
}

.nav-list-link-login-container span {
  text-wrap: nowrap;
}

.nav-list-link-login-button {
  border: none;
  cursor: pointer;
  outline: none;
  color: var(--body_color);
  appearance: none;
  font-weight: 600;
  font-size: 0.96rem;
  background-color: transparent;
  white-space: nowrap;
  transition: 0.9s ease-in-out;
}

.nav-list-link-login-button.display {
  display: inline-block;
}

.nav-list-link-login-button.hide {
  display: none;
}

.nav-list-link-login-button:hover {
  opacity: 0.7;
}

.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 3px solid #b1b0b6;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.nav-list-menu-btn {
  display: none;
}

.nav-list-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: var(--mobile-menu-bg-color);
  box-shadow: -10px 0 10px rgba(17, 16, 16, 0.04);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-dark-mode-switch {
  transition: 0.9s ease-in-out;
}

.nav-dark-mode-switch:hover {
  color: var(--dark_mode_switch_hover_color);
}

.nav-list-mobile li {
  width: 100%;
}

.nav-list-mobile .nav-list-link {
  margin-bottom: 1.5rem;
}

.nav-list-mobile .nav-list-link a {
  text-align: left;
  padding-left: 30px;
}

.nav-list-mobile li a {
  padding: 0;
}

.nav-list-mobile-menu-btn {
  display: none;
}

.nav-list-mobile-close-btn {
  padding-left: 30px;
  margin-top: 15px;
}

.desktop {
  display: inline;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .nav {
    padding: 8px 50px;
  }
  .nav-logo {
    font-size: 1.9rem;
  }
  .nav-searchbar {
    padding: 0.27rem 1.6rem;
  }
}

@media (max-width: 1100px) {
  .nav-logo {
    font-size: 1.9rem;
  }
  .nav-searchbar {
    padding: 0.27rem 1.4rem;
    margin-left: 1.2rem;
  }

  ul.nav-list-desktop {
    display: flex;
    align-items: center;
  }

  ul.nav-list-desktop li {
    text-wrap: nowrap;
  }

  ul li a {
    padding: 20px 18px;
  }
  .nav-dark-mode-switch {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 1000px) {
  .nav {
    padding: 0 40px;
  }

  .nav-searchbar {
    padding: 0.27rem 1rem;
    margin-left: 0.7rem;
    font-size: 0.9rem;
  }
  ul li a:last-child {
    padding-right: 0;
    padding-left: 0;
  }

  ul li a {
    font-size: 0.9rem;
  }

  .nav-list-link-user {
    width: 20px;
    height: 20px;
  }

  .nav-list-link-login-container span {
    text-wrap: nowrap;
    font-size: 0.9rem;
  }

  .nav-list-link-login-button {
    font-size: 0.8rem;
  }
}

@media (max-width: 850px) {
  .nav {
    padding: 15px 60px;
  }
  .nav .nav-list-desktop {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
    margin: 0 auto;
  }

  .padding-left {
    padding-left: 30px;
  }

  .nav-list-mobile-menu-btn {
    display: inline-block;
  }

  .nav-list-mobile.is-open {
    display: flex;

    transition: 0.25ms ease-in-out;
  }
  ul li ul.genres-dropdown {
    background-color: var(--mobile-genres-dropdown-bg-color);
    padding-left: 30px;
  }
  .genres-dropdown li {
    text-align: left;
  }
  ul li ul.genres-dropdown li {
    transition: 0.15ms ease-in-out;
  }

  .margin-top {
    margin-top: 4.5rem;
  }

  .nav-searchbar {
    padding: 0.5rem 1.01rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 680px) {
  .nav {
    padding: 15px 25px;
  }

  ul li a {
    padding-right: 5px;
  }
  ul li a:last-child {
    padding-right: 5px;
  }
}

@media (max-width: 550px) {
  .nav-logo {
    font-size: 1.5rem;
  }

  .nav-list-link-user {
    width: 22px;
    height: 22px;
  }

  .nav-list-link-login-container span {
    font-size: 0.7rem;
  }
.nav-list-link-login {
    column-gap: 0.7rem;
  }

  .nav-list-link-login-button {
    font-size: 0.7rem;
  }

  .nav-searchbar {
    font-size: 0.97rem;
  }

  .nav-list-mobile-menu-btn {
    width: 24px;
    height: 24px;
    padding: 0;
  }

  .nav-list-mobile li a{
    font-size: 1.275rem;
  }

  ul li ul.genres-dropdown li {
    font-size: 0.975rem;
  }
}

@media (max-width: 400px) {
  .nav {
    padding: 15px 20px;
  }

  .nav-list-link-user {
    width: 16px;
    height: 16px;
  }

  .nav-list-link-login-container span {
    font-size: 0.6rem;
  }

  .nav-list-link-login-button {
    font-size: 0.6rem;
  }
}

@media (max-width: 380px) {
  ul li ul.genres-dropdown {
    overflow: auto;
  }
  
  .nav-dark-mode-switch {
    width: 13px;
    height: 13px;
  }
}
