.section-nav {
  background: #151516;
}

.section-nav-container {
  display: flex;
  justify-content: center;
  max-height: 40px;
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 8px 80px;
  top: 0;
  left: 0;
  z-index: 90;
  background-color: #151516;
}

.nav-logo {
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-searchbar {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0.35rem 4rem;
  background-color: #242323;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-searchbar:hover {
  opacity: 0.75;
}

input,
select,
textarea {
  color: #ffffff;
}

textarea:focus,
input:focus {
  color: #ffffff;
}

.nav .nav-list-desktop {
  /*margin: 0 auto;*/
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  position: relative;
}

ul li a {
  display: block;
  padding: 20px 30px;
  text-decoration: none;
  text-align: center;
  color: #ffffffcd;
  transition: 0.9ms ease-in-out;
  font-size: 1.2rem;
}

ul li ul.genres-dropdown li {
  display: block;
  font-size: 1.08rem;
  padding: 1.5px 0;
  cursor: pointer;
  transition: 0.9ms ease-in-out;
}

ul li ul.genres-dropdown li:hover {
  color: #c9c3c37a;
}

ul li ul.genres-dropdown li.active {
  color: #c9c3c37a;
}

ul li ul.genres-dropdown {
  width: 100%;
  background-color: #1a1a1b;
  position: absolute;
  z-index: 999;
  display: none;
  color: #ffffffcd;
  opacity: 1;
  padding: 15px 9px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

ul li a:hover {
  color: #c9c3c37a;
}

ul li:hover ul.genres-dropdown {
  display: block;
  z-index: 88;
}

.nav-list-link-user {
  width: 32px;
  height: 32px;
}

.nav-list-menu-btn {
  display: none;
}

.nav-list-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #242323;
  box-shadow: -10px 0 10px rgba(17, 16, 16, 0.04);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.nav-list-mobile li {
  width: 100%;
  /*margin-bottom: 2rem;*/
}

.nav-list-mobile .nav-list-link {
  margin-bottom: 1.5rem;
}

.nav-list-mobile .nav-list-link a {
  text-align: left;
  padding-left: 30px;
}

.nav-list-mobile li a {
  padding: 0;
}

.nav-list-mobile-menu-btn {
  display: none;
}

.nav-list-mobile-close-btn {
  padding-left: 30px;
  margin-top: 15px;
}

.desktop {
  display: inline;
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .nav {
    padding: 0 60px;
  }
  ul li a:last-child {
    padding-right: 0;
  }

  .nav-searchbar {
    padding: 0.45rem 4rem;
  }
}

@media (max-width: 890px) {
  .nav-searchbar {
    padding: 0.35rem 2.7rem;
  }

  ul li a {
    padding: 1.3rem 1rem;
  }
}

@media (max-width: 785px) {
  .nav-searchbar {
    padding: 0.25rem 2rem;
  }

  ul li a {
    padding: 1.3rem 0.4rem;
  }
}

@media (max-width: 720px) {
  .nav {
    padding: 15px 60px;
  }
  .nav-list-desktop {
    display: none;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
    margin: 0 auto;
  }

  .padding-left {
    padding-left: 30px;
  }

  .nav-list-mobile-menu-btn {
    display: inline-block;
    padding-top: 0.7rem;
  }

  .nav-list-mobile.is-open {
    display: flex;

    transition: 0.25ms ease-in-out;
  }
  ul li ul.genres-dropdown {
    background-color: #242323;
    padding-left: 30px;
  }
  .genres-dropdown li {
    text-align: left;
  }
  ul li ul.genres-dropdown li {
    transition: 0.15ms ease-in-out;
  }

  .margin-top {
    margin-top: 4.5rem;
  }

  .nav-searchbar {
    padding: 0.4rem 0.25rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 680px) {
  .nav {
    padding: 15px 45px;
  }

  ul li a {
    padding-right: 5px;
  }
  ul li a:last-child {
    padding-right: 5px;
  }
}

@media (max-width: 680px) {
  .nav {
    padding: 15px 25px;
  }
}

@media (max-width: 380px) {
  ul li ul.genres-dropdown {
    overflow: auto;
  }
  ul li ul.genres-dropdown li {
    font-size: 0.8rem;
  }
}
