.movie-details-page {
  margin-top: 4%;
  position: relative;
  padding-bottom: 3rem;
}

.movie-details-backdrop-img-container {
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.96));
}

.movie-details-backdrop-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 40% 25%;
  opacity: 0.45;
}

.movie-details {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -15.5rem;
  z-index: 50;
}

.movie-details-media {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details-media-poster-container {
  position: relative;
  width: 50%;
  height: 55%;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.movie-details-media-poster {
  width: 100%;
  height: 100%;
  opacity: 0.95;
}

.movie-details-media-trailer-container {
  width: 50%;
  aspect-ratio: 16 / 9;
  margin-bottom: 10%;
}

.movie-details-media-trailer {
  width: 100%;
  height: 100%;
  border: none;
  box-shadow: none;
  border-radius: 10px;
}
.movie-details-info {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.movie-details-info-title {
  margin-top: 0;
  font-size: 5rem;
  margin-bottom: 3.4rem;
  font-weight: 500;
}

.movie-details-info-tagline {
  font-size: 2.5rem;
  color: #ffffffcd;
  font-weight: 300;
  margin-bottom: 3.4rem;
  opacity: 0.97;
}

.movie-details-info-list {
  font-size: 1.35rem;
}

.movie-details-info-list li {
  display: block;
  margin-bottom: 1.8rem;
}

.movie-details-info-list-item-title {
  color: #a19d9dcd;
  font-weight: 500;
}

.movie-details-info-genres ~ .movie-details-info-genres::before {
  content: ", ";
}

.movie-details-info-subh {
  font-size: 2rem;
  font-weight: 350;
  margin-bottom: 1.8rem;
  margin-top: 3.4rem;
}

.movie-details-info-subh-desc {
  font-size: 1.35rem;
  color: #d6cfcfcd;
}

.movie-details-info-provider-container {
  display: flex;
  gap: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movie-details-info-provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.movie-details-info-provider-img {
  float: left;
  width: 50px;
  height: 50px;
  object-fit: fill;
  border-radius: 50px;
}

.movie-details-info-provider-title {
  font-weight: 400;
  font-size: 1.05rem;
  color: #d6cfcfcd;
}

.movie-details-overview-providers .movie-details-media-trailer-container {
  display: none;
}

@media (max-width: 1600px) {
  .movie-details-page {
    margin-top: 5%;
  }
}

@media (max-width: 1400px) {
  .movie-details-page {
    margin-top: 5%;
  }
  .movie-details-media {
    width: 35%;
  }

  .movie-details-info {
    width: 65%;
  }

  .movie-details-backdrop-img-container {
    height: 400px;
  }
}

.movie-details-overview-providers {
  display: none;
}

@media (max-width: 1200px) {
  .movie-details-page {
    margin-top: 6%;
  }

  .movie-details {
    margin-top: -12.5rem;
  }
  .movie-details-media {
    width: 39%;
  }

  .movie-details-info {
    width: 61%;
  }

  .movie-details-backdrop-img-container {
    height: 350px;
  }

  .movie-details-info-title {
    font-size: 4rem;
  }

  .movie-details-info-tagline {
    font-size: 2.1rem;
  }

  .movie-details-info-list {
    margin-top: 5rem;
  }

  .movie-details-info-list li {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1120px) {
  .movie-details-page {
    margin-top: 7%;
  }

  .movie-details {
    margin-top: -10.5rem;
  }
  .movie-details-info-title {
    font-size: 2.5rem;
  }

  .movie-details-info-tagline {
    font-size: 1.4rem;
  }

  .movie-details-media {
    width: 33%;
    margin-left: 2rem;
  }

  .movie-details-media-poster-container {
    width: 87%;
    height: 78%;
  }

  .movie-details-media-trailer-container {
    position: relative;
    width: 87%;
    aspect-ratio: 3/2;
  }

  .movie-details-info {
    width: 67%;
    margin-left: 1rem;
  }
}

@media (max-width: 980px) {
  .movie-details-page {
    margin-top: 10%;
  }
  .movie-details-info-list {
    margin-top: 3.5rem;
  }

  .movie-details-info-list li {
    margin-bottom: 2rem;
  }

  .display {
    display: none;
  }

  .movie-details-info-subh {
    margin-bottom: 2rem;
  }

  .movie-details-info-subh-desc {
    margin-bottom: 6rem;
  }

  .movie-details-overview-providers .movie-details-info-provider-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    text-wrap: nowrap;
  }

  .movie-details-overview-providers {
    display: block;
  }
}

@media (max-width: 800px) {
  .movie-details-page {
    margin-top: 13%;
  }
  .movie-details {
    margin-top: -11.5rem;
  }
  .movie-details-media {
    width: 44%;
    margin-left: 2rem;
  }

  .movie-details-media-poster-container {
    width: 100%;
    height: 78%;
    margin-bottom: 6rem;
  }

  .movie-details-media-trailer-container {
    position: relative;
    width: 100%;
    aspect-ratio: 3/2;
  }

  .movie-details-info {
    width: 56%;
    margin-left: 2rem;
  }

  .movie-details-info-title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  .movie-details-info-list {
    margin-top: 2.5rem;
  }

  .movie-details-info-list li {
    margin-bottom: 2rem;
  }

  .movie-details-overview-providers .movie-details-info-provider-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .movie-details-page {
    margin-top: 23%;
  }
  .movie-details-backdrop-img-container {
    display: none;
  }

  .movie-details {
    margin-top: 0;
  }
  .movie-details-media-trailer-container {
    aspect-ratio: 1/1;
  }

  .movie-details-media {
    width: 50%;
    align-items: flex-start;
    margin-left: 0;
  }

  .movie-details-info {
    width: 50%;
    margin-left: 2rem;
  }

  .movie-details-info-title {
    font-size: 1.5rem;
  }

  .movie-details-info-list {
    margin-top: 3rem;
  }

  .movie-details-info-list li {
    margin-bottom: 2.7rem;
  }

  .movie-details-overview-providers .movie-details-info-provider-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 580px) {
  .mobile-hidden {
    display: none;
  }

  .movie-details {
    margin-bottom: 3rem;
  }

  .movie-details-page {
    margin-top: 26%;
  }

  .movie-details-media {
    width: 45%;
  }

  .movie-details-info-title {
    margin-bottom: 1.7rem;
  }

  .movie-details-info-tagline {
    margin-bottom: 1.7rem;
  }

  .movie-details-info-list {
    margin-top: 0;
  }

  .movie-details-info-list li {
    margin-bottom: 1.5rem;
  }

  .movie-details-overview-providers .movie-details-media-trailer-container {
    display: block;
    aspect-ratio: 16/9;
  }
}

@media (max-width: 490px) {
  .movie-details-info-title {
    font-size: 1rem;
  }

  .movie-details-info-tagline {
    font-size: 0.9rem;
  }

  .movie-details-info-list li {
    font-size: 1rem;
  }

  .movie-details-info-subh {
    font-size: 1.2rem;
  }

  .movie-details-info-subh-desc {
    font-size: 1rem;
    color: #d6cfcfcd;
    text-align: justify;
  }

  .movie-details-info-provider-img {
    width: 30px;
    height: 30px;
  }

  .movie-details-info-provider-title {
    font-size: 0.7rem;
  }
}

@media (max-width: 370px) {
  .movie-details-page {
    margin-top: 37%;
  }

  .movie-details-info-title {
    font-size: 0.8rem;
  }

  .movie-details-info-list li {
    font-size: 0.9rem;
  }

  .movie-details-info-subh {
    font-size: 1rem;
  }

  .movie-details-info-subh-desc {
    font-size: 0.9rem;
    color: #d6cfcfcd;
    text-align: justify;
  }

  .movie-details-info-provider-img {
    width: 25px;
    height: 25px;
  }

  .movie-details-info-provider-title {
    font-size: 0.5rem;
  }
}
