.height {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.movie-list-item-container {
  position: relative;
}

.flex-grow {
  min-height: 100vh;
  place-items: start;
  row-gap: 0;
}

.movie-list-iem-delete-btn {
  position: absolute;
  max-width: 23px;
  max-height: 23px;
  top: 13px;
  right: 5px;
  filter: contrast(200%);
  cursor: pointer;
  z-index: 76;
}
