.movie-list-item-container {
  position: relative;
}

.movie-list-iem-delete-btn {
  position: absolute;
  max-width: 23px;
  max-height: 23px;
  top: 13px;
  right: 5px;
  filter: contrast(200%);
  cursor: pointer;
  z-index: 76;
}

.height {
  height: 100vh;
  place-items: initial;
}

@media (max-width: 500px) {
  .padding {
    padding: 40px 0;
  }
}

@media (max-width: 350px) {
  .margin-bottom {
    row-gap: 6%;
  }
}
